@charset "UTF-8";

body {
  background-color: black;
}

.background {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  width: 900px;
  height: 506px;
}

.btn {

}

.blind {
  /* 레이아웃에 영향을 끼치지 않도록 */
  position: absolute;

  /* 스크린 리더가 읽을 수 있도록 1px으로  */
  width: 1px;
  height: 1px;

  /* 눈에 보이는 부분을 제거 */
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}