.game {
  width: 800px;
  height: 500px;
  background: url(img/background.png) center/cover; /*원본 사이즈가 너무 커서 삐져나갈 때, center/cover 사용하면 꽉 참(난 포토샵으로 조정함ㅎㅎ...)*/
}

.game_header {

}

.game_field {
  width: 100%;
  height: 100%;
  background-collor: blue;
}